DATABASE_URL=
FRONTEND_URL=https://resolveai-2b1g.onrender.com
APP_URL=https://resolveai-2b1g.onrender.com
BACKEND_URL=https://resolveai-2b1g.onrender.com
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=
SESSION_SECRET=
PORT=3000
