DATABASE_URL=
FRONTEND_URL=http://localhost:5173
APP_URL=http://localhost:5173
BACKEND_URL=http://localhost:3000
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
SESSION_SECRET=
PORT=3000
